<!-- wp:group {"tagName":"div","className":"dd-shell","layout":{"type":"default"}} -->
<div class="wp-block-group dd-shell">
	<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
	<!-- wp:group {"tagName":"main","className":"diamondistry-page-shell","layout":{"type":"default"}} -->
	<main class="wp-block-group diamondistry-page-shell">
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:post-content {"layout":{"type":"default"}} /-->
	</main>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
